[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
[submodule ".zsh/zplug"]
	path = .zsh/zplug
	url = https://github.com/b4b4r07/zplug
