[user]
	name = SENOO, Ken
	email = contact@senooken.jp
[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
[core]
	excludesfile = ~/.gitignore
	filemode = false
	autocrlf = input
[diff "word"]
	texconv = strings
[diff "db"]
	textconv = strings
[push]
	default = current
[alias]
	st = status
	co = checkout
	ci = commit -v
	di = diff
	br = branch
	puhs = push
	psuh = push
	pus = push
	puh = push
	pl = !git pull && git submodule update --init
[http]
	sslcainfo = /mingw32/ssl/certs/ca-bundle.crt
	sslverify = false
[init]
	templatedir = ~/.git-template
[guitool "Tag"]
	cmd = git tag $ARGS
	argprompt = yes
[gui]
	historybrowser = gitk
[uploadpack]
	allowtipsha1inwant = true
