# 補間時大文字小文字無視
set completion-ignore-case on
# ベル無
set bell-style none
# 入力候補リストのディレクトリや実行可能ファイルに印をつける
set visible-stats on

$if Bash
    # スペースで特殊変数がその場で展開
    space: magic-space
 
    # キーバインド key: "hoge"でhogeが展開される
    "\C-x\C-p": " | percol"
$endif
"\C-^": "~/"
