[mysqld]
port = 3406
datadir = /home/senooken/.local/var/lib/mysql
pid-file = /home/senooken/.local/var/lib/mysql/mysql.pid
socket = /home/senooken/.local/var/lib/mysql/mysql.sock
language = /home/senooken/.local/mysql/share/english

general_log
general_log_file = general.log
log_error = mysqld.err

[mysqld_safe]
datadir = /home/senooken/.local/var/lib/mysql
pid-file = /home/senooken/.local/var/lib/mysql/mysql.pid
socket = /home/senooken/.local/var/lib/mysql/mysql.sock

skip_syslog
log_error = mysqld.err

[client]
socket = /home/senooken/.local/var/lib/mysql/mysql.sock
