"*":
  "*":
    "exception-reporting":
      userId: "fc952bc5-7f12-3006-ffb4-dc97bd8219c3"
    welcome:
      showOnStartup: false
    editor:
      fontFamily: "\"Migu 1M\""
      fontSize: 12
      softWrap: true
      showIndentGuide: true
    core:
      destroyEmptyPanes: false
  "exception-reporting":
    userId: "f8a3b1a5-57d8-6260-fede-3f8be7bbbc92"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    fontFamily: "Migu\\ 1m"
    showIndentGuide: true
    softWrap: true
