/*! \file      c.tmpl
 *  \author    SENOO, Ken
 *  \copyright CC0
 *  \date      2015-12-01T23:55+09:00
 ****************************************************************************/
#include <stdio.h>

int main(){

  return 0;
}
