// This is C++ program.
// @author; SENOO, Ken
// (Last Update: 2014-08-10T16:04+09:00)

#include <iostream>
#include <fstream>
#include <sstream>
#include <vector>
#include <string>

int main() {

}
