<!DOCTYPE html>
<!--(File name: html.tmpl)
    Author: SENOO, Ken
-->
<html lang="ja">
  <head>
    <title></title>
    <meta name="author" content="SENOO, Ken">
    <meta charset="UTF-8">
    <!-- <meta name="description" contents=""> -->
    <!-- <meta name="keywords" contents=""> -->
    <!-- <link rel="stylesheet" type="text/css" href="default.css"> -->
    <style>
@charset "utf-8";

/* caption */
caption::before {
  counter-increment: table;
  content: "表" counter(heading1) "." counter(table) " ";
}
figcaption::before {
  counter-increment: figure;
  content: "図" counter(heading1) "." counter(figure) " ";
}
body {counter-reset: listing;}
figcaption[id^="lis:"]::before {
  counter-increment: listing;
  content: "リスト" counter(heading1) "." counter(listing) " ";
}
figcaption[class^="lis"]::before {
  counter-increment: listing;
  content: "リスト" counter(section1) "." counter(listing) " ";
}


/* list */
/* listが見出し設定の後にあると見出し番号がリセットされる? */
/* ol { counter-reset: enum; } */
/* ol li { list-style-type: none; } */
/* ol li::before {                    */
/* counter-increment: enum;           */
/* content: counters(enum, ".") ". "; */
/* }                                  */
ol { counter-reset: enum1; }
li { list-style-type: none; }
ol li::before {
counter-increment: enum1;
content: counter(enum1) ". ";
}
ol ol{ counter-reset: enum2;}
li li::before {
counter-increment: enum2;
content: counter(enum1) "." counter(enum2) ". ";
}
ol ol ol{ counter-reset: enum3;}
li li li::before {
counter-increment: enum3;
content: counter(enum1) "." counter(enum2) "." counter(enum3) ". ";
}
ol ol ol ol{ counter-reset: enum4;}
li li li li::before {
counter-increment: enum4;
content: counter(enum1) "." counter(enum2) "." counter(enum3) "." counter(enum4) ". ";
}
ol ol ol ol ol{ counter-reset: enum5;}
li li li li li::before {
counter-increment: enum5;
content: counter(enum1) "." counter(enum2) "." counter(enum3) "." counter(enum4) "." counter(enum5) ". ";
}
ol ol ol ol ol ol{ counter-reset: enum6;}
li li li li li li::before {
counter-increment: enum6;
content: counter(enum1) "." counter(enum2) "." counter(enum3) "." counter(enum4) "." counter(enum5) "." counter(enum6) ". ";
}

/* 節番号の設定 */
body { counter-reset: heading1; }

section>h1,
section>h2,
section>h3,
section>h4,
section>h5,
section>h6
{
  counter-increment: heading1; counter-reset: heading2 table figure;
}

section>h1::before,
section>h2::before,
section>h3::before,
section>h4::before,
section>h5::before,
section>h6::before
{
  content: counter(heading1) " ";
}

section>section>h1,
section>section>h2,
section>section>h3,
section>section>h4,
section>section>h5,
section>section>h6
{
  counter-increment: heading2; counter-reset: heading3;
}
section>section>h1::before,
section>section>h2::before,
section>section>h3::before,
section>section>h4::before,
section>section>h5::before,
section>section>h6::before
{
  content: counter(heading1) "." counter(heading2)  " ";
}

section>section>section>h1,
section>section>section>h2,
section>section>section>h3,
section>section>section>h4,
section>section>section>h5,
section>section>section>h6
{
  counter-increment: heading3; counter-reset: heading4;
}
section>section>section>h1::before,
section>section>section>h2::before,
section>section>section>h3::before,
section>section>section>h4::before,
section>section>section>h5::before,
section>section>section>h6::before
{
  content: counter(heading1) "." counter(heading2) "." counter(heading3)
 " ";
}

section>section>section>section>h1,
section>section>section>section>h2,
section>section>section>section>h3,
section>section>section>section>h4,
section>section>section>section>h5,
section>section>section>section>h6
{
  counter-increment: heading4; counter-reset: heading5;
}
section>section>section>section>h1::before,
section>section>section>section>h2::before,
section>section>section>section>h3::before,
section>section>section>section>h4::before,
section>section>section>section>h5::before,
section>section>section>section>h6::before
{
  content: counter(heading1) "." counter(heading2) "." counter(heading3)
"." counter(heading4)  " ";
}

section>section>section>section>section>h1,
section>section>section>section>section>h2,
section>section>section>section>section>h3,
section>section>section>section>section>h4,
section>section>section>section>section>h5,
section>section>section>section>section>h6
{
  counter-increment: heading5; counter-reset: heading6;
}
section>section>section>section>section>h1::before,
section>section>section>section>section>h2::before,
section>section>section>section>section>h3::before,
section>section>section>section>section>h4::before,
section>section>section>section>section>h5::before,
section>section>section>section>section>h6::before
{
  content: counter(heading1) "." counter(heading2) "." counter(heading3)
"." counter(heading4) "." counter(heading5)  " ";
}

section>section>section>section>section>section>h1,
section>section>section>section>section>section>h2,
section>section>section>section>section>section>h3,
section>section>section>section>section>section>h4,
section>section>section>section>section>section>h5,
section>section>section>section>section>section>h6
{
  counter-increment: heading5; counter-reset: heading6;
}
section>section>section>section>section>section>h1::before,
section>section>section>section>section>section>h2::before,
section>section>section>section>section>section>h3::before,
section>section>section>section>section>section>h4::before,
section>section>section>section>section>section>h5::before,
section>section>section>section>section>section>h6::before
{
  content: counter(heading1) "." counter(heading2) "." counter(heading3)
"." counter(heading4) "." counter(heading5) "." counter(heading5) " ";
}


/* table */
table {
  border-collapse: collapse;
  border: none;
  /* centering */
  margin-left: auto;
  margin-right: auto;
}
tr:nth-child(odd) {
  background:#ffffe6;
}
tr td {
  border: none;
}
tr:first-child td {
  border-top: solid;
  border-bottom: solid;
}
tr:last-child td {
  border-bottom: solid;
}

/* cross reference */
[href^="#chap:"]::before {
  content: "第";
}
[href^="#chap:"]::after {
  content: "章";
}
[href^="#sec:"]::after, [href^="#sub"]::after {
  content: "節";
}
[href^="#par:"]::after {
  content: "段落";
}
[href^="#enu:"]::before {
  content: "項目";
}
[href^="#eq:"]::before {
  content: "式(";
}
[href^="#eq:"]::after {
  content: ")";
}
[href^="#fig:"]::before {
  content: "図";
}
[href^="#tab:"]::before {
  content: "表";
}
[href^="#lis:"]::before {
  content: "リスト";
}

/* フォント設定 */
p {
  text-indent: 1em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "TeX Gyre Heros", "MigMix 1P", sans-serif;
  background-color: #e6e6ff;
}

/* PC語句 */
kbd, code, samp, var {
  font-family: Inconsolata, "Migu 1M", monospace;
  border-width: thin;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 5px;
}
kbd {
  background-color: #ffe6e6;
}
code {
  background-color: #ffffe6;
}
samp {
  background-color: #e6e6e6;
}
var {
  font-style: normal;
  background-color: #80ffff;
}
pre {
  font-family: Inconsolata, "Migu 1M", monospace;
  background-color: #e6ffe6;
  overflow: auto;
}
    </style>
  </head>
  <body>

  </body>
</html>
